# Directory-based environment configuration for `direnv`

use nix # enables Nix package management on the directory

# This is how I manage my api keys. There is a good change that you're device
# doesn't know my credentials, so you should change the cmd to the value.
#
# Thanks to the github.com/ardanlabs/conf/v3 package we can have that envvar
# parsed and up and running on app or test start.
export WEATHER_API_KEY=`gopass show websites/weatherapi.com/gopher | grep "api-key" | cut -d " " -f2 | tr -d "\n"`
